*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
    font-family: cursive;
}
label, input {
    margin-bottom: 5px;
}
label {
    display: block;
    font-weight: 600;
}
input {
    padding: 5px 10px;
}
form {
    background-color: white;
    width: 80%;
    margin: 50px auto;
    padding: 15px;
    border-radius: 20px;
}
